@use "../abstracts/mixins"
@use "../abstracts/variables"
.section-intro
  position: relative
  overflow: hidden
  padding-bottom: 1rem
  &::before
    content: ""
    position: absolute
    top: -8rem
    left: 50%
    transform: translateX(-50%)
    width: 50rem
    height: 95rem
    background: linear-gradient(to top, #EAE3D4, transparent)
    border-radius: 50rem 0 0 50rem
    z-index: -10
    @include mixins.respond(tab-port)
      top: 0
      height: 60rem
      width: 32rem
      border-radius: 32rem 0 0 32rem
    @include mixins.respond(smal-tab)
      display: none
  &__wrapper
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    @include mixins.respond(smal-tab)
      grid-template-columns: 1fr .7fr
    @include mixins.respond(phone)
      grid-template-columns: 1fr
  &__text
    margin-left: 8rem
    position: relative
    &::before
      @include mixins.line(variables.$color-pearl, 5rem)
      position: absolute
      top: 2.5rem
      left: -7rem
      @include mixins.respond(tab-port)
        display: none
    @include mixins.respond(tab-port)
      margin-left: 0
      justify-self: center
    @include mixins.respond(phone)
      text-align: center
  &__image
    position: relative
  &__desc
    font-size: 1.4rem
    font-weight: 300
    line-height: 150%
    max-width: 25rem
    @include mixins.respond(phone)
      max-width: 100%
  &__img
    max-width: 50rem
    @include mixins.respond(tab-port)
      max-width: 38rem
    @include mixins.respond(smal-tab)
      max-width: 26rem
    @include mixins.respond(phone)
      display: none
  &__characteristic
    @include mixins.font(Prata, 1.6rem, 400)
    position: absolute
    &_1
      top: 15rem
      left: -8rem
      display: flex
      gap: 1.5rem
      align-items: center
      &::after
        @include mixins.line(variables.$color-pearl, 5rem)
    &_2
      right: 0
      bottom: 14rem
      display: flex
      gap: 1.5rem
      align-items: center
      &::before
        @include mixins.line(variables.$color-pearl, 5rem)
    @include mixins.respond(tab-port)
      display: none
