@use "../abstracts/mixins"
@use "../abstracts/variables"

.title-1
  @include mixins.font(Playfair, 4.5rem , 400)
  color: variables.$color-dark
  & > span
    font-size: 3rem
.title-2
  @include mixins.font(Playfair, 3.2rem , 400)
  color: variables.$color-dark
