
@mixin respond($breakpoit)
  @if $breakpoit == phone
    @media only screen and (max-width: 420px)
      @content
  @if $breakpoit == smal-tab
    @media only screen and (max-width: 565px)
      @content
  @if $breakpoit == tab-port
    @media only screen and (max-width: 870px)
      @content
  @if $breakpoit == tab-land
    @media only screen and (max-width: 1170px)
      @content
  @if $breakpoit == big-screen
    @media only screen and (min-width: 1800px)
      @content

@mixin font($name, $size, $weight)
  font-style: normal
  font-size: $size
  @if $name == Roboto
    font-family: "Roboto", sans-serif
    font-weight: $weight
  @else if $name == Prata
    font-family: "Prata", serif
    font-weight: 400
  @else if $name == Playfair
    font-family: "Playfair Display", serif
    font-weight: $weight

@mixin line($color, $width: 1rem)
  content: ""
  display: block
  width: $width
  height: .1rem
  background-color: $color
